html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

@font-face {
  font-family: samarkan;
  src: url(./fonts/SamarkanNormal-Gg5D.ttf);
}

.header {
  margin: 0 auto 20px;
  padding: 10vh 0;
  text-align: center;
  font-family: samarkan;
  font-size: 35px;
  letter-spacing: 2px;
  color: #ccc;
  background: url(./Images/top_bg.jpg);
  background-size: cover;
}

.header img {
  /* float: left; */
  position: absolute;
  top: 0;
  left: 0;
  margin: 14px 0 0 24px;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
}

.accessibility {
  margin: 70px auto;
}

.button-group1 {
  margin: auto;
  padding: 10px;
  justify-content: center;
}

.detailCard {
  /* padding: 30px 1px 0; */
}

.detail {
  width: 90vw;
  margin: 8px auto;
  padding: 8px;
}

.detail p {
  font-weight: 900;
  font-size: 18px;
  letter-spacing: 1px;
}

.detailIcon {
  position: relative;
  float: left;
  background-color: rgb(68, 138, 92);
  color: #fff;
  margin: 8px 18px 0 0;
  padding: 8px;
  border-radius: 100%;
}

.section {
  text-align: center;
  width: 100vw;
}

.hr {
  border-top: 1px solid green;
  width: 60vw;
}

.section-head {
  margin: 80px 0 50px;
}

.section-title {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
}

.product-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  padding: 20px;
  gap: 80px 80px;
}

.product-grid-item {
  box-shadow: 15px 15px 45px rgba(76, 76, 76, 0.4),
    15px 15px 45px rgb(55, 54, 54, 0.4);
}

table {
  margin: 0 auto;
  width: 90vw;
}

table th {
  padding: 0 30px 20px;
}

#payment-info img {
  width: 80vw;
  height: auto;
}

.footer {
  margin: 50px 0 0;
  padding: 50px 25px 30px;
  background-color: #032a0de1;
  color: aliceblue;
  height: fit-content;
  max-width: 100vw;
}

.footer h3 {
  font-size: 30px;
  letter-spacing: 2px;
}

.footer p {
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 1.5;
}

.footer ul {
  list-style-type: none;
  margin: 40px 0 0 0;
  padding: 0;
  font-size: 16px;
  letter-spacing: 2px;
}

.footer ul li {
  padding: 10px 0;
}

.footer ul li a {
  color: aliceblue;
  text-decoration: none;
}

.footer .copyright {
  letter-spacing: 1px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  text-align: center;
}
.footer hr {
  border: none;
  border-top: 1px solid #fff;
}

.bottom-hr {
  margin: 50px 0 0 0;
  border: none;
  border-top: 1px solid #fff;
}

.footer form {
  margin: 40px 10px 10px;
  padding: 40px 20px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-radius: 20px;
}

.footer form input,
select {
  background-color: rgba(204, 204, 204, 0.101);
  margin: 20px 0;
  padding: 20px 20px;
  color: aliceblue;
  display: inline-block;
  border: 1px solid #ccc;
  width: calc(100% - 40px);
}

::placeholder {
  font-size: 14px;
  letter-spacing: 3px;
  color: #ccc;
  opacity: 1;
}

.footer form textarea {
  background-color: rgba(204, 204, 204, 0.101);
  margin: 20px 0;
  padding: 20px 20px;
  color: aliceblue;
  display: inline-block;
  border: 1px solid #ccc;
  width: calc(100% - 40px);
}

input[type="time"]:before {
  content: "Time of Birth";
  width: 70px;
  font-size: 14px;
  letter-spacing: 3px;
  color: #ccc;
  opacity: 1;
}

input[type="date"]:before {
  content: "Date of Birth";
  width: 70px;
  font-size: 14px;
  letter-spacing: 3px;
  color: #ccc;
  opacity: 1;
}

.footer form button {
  background-color: rgba(255, 255, 255, 0.396);
  margin: 20px 0;
  padding: 20px 20px;
  color: aliceblue;
  font-size: 25px;
  letter-spacing: 4px;
  display: block;
  border: 1px solid #ccc;
  width: 100%;
}

/* Dropdown */

.dropdown-container {
  background-color: rgba(204, 204, 204, 0.101);
  margin: 20px 0;
  padding: 20px 20px;
  color: aliceblue;
  display: inline-block;
  border: 1px solid #ccc;
  width: calc(100% - 40px);
}

.dropdown-input {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.dropdown-menu {
  position: absolute;
  left: 53px;
  margin: 20px 0;
  transform: translateY(4px);
  /* width: 100%; */
  width: calc(100% - 109px);
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto;
  max-height: 250px;
  background-color: rgb(70, 94, 78);
  z-index: 99;
}

.dropdown-item {
  padding: 5px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #9fc3f870;
}

.dropdown-item.selected {
  background-color: #0d6efd;
  color: #fff;
}

.dropdown-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.dropdown-tag-item {
  background-color: #ddd;
  padding: 2px 4px;
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.dropdown-tag-close {
  display: flex;
  align-items: center;
}

.search-box {
  padding: 5px;
  background-color: rgb(70, 94, 78);
}

.search-box input {
  width: 100% !important;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
